# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# just a scrappy project, I won't care
prisma/migrations 

# OS-specific
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Output
dist/
build/